<div class="container-md mt-5 ">
  <div class="mx-auto  card align-items-center" style = "width:300px">
    <%= simple_form_for(@videogame) do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, required: true, autofocus: true, placeholder: "Enter the videogame title" %>
      </p>
      <p>
        <%= f.label :price %><br>
        <%= f.number_field :price, required: true %>
      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_field :description, required: true %>
      </p>
      <p>
      <%= f.input :genre, :collection => ["FPS" ,"Hack and Slash", "RPG", "Roguelike", "Platforms", "Fighting", "Strategy", "Sports" ], input_html: {class: 'test'} %>
      </p>
      <p>
      <%= f.input :platform, :collection => ["PlayStation 4" , "PC", "XBox", "Nintendo Switch" ], input_html: {class: 'test'} %>
      </p>
      <p>
        <%= f.label :developer %><br>
        <%= f.text_field :developer, required: true %>
      </p>
      <p>
        <%= f.input :release_date %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>
