<div class="container-md">
  <h5 class="mt-5"> Your Wishlist </h5> <%= link_to "Add game", new_videogame_path, class: "btn btn-success"%>
    <div class="d-flex mt-3" style="width:100%">
      <div class="row">
        <% @videogames.each do |game| %>
          <div class="card m-2 rounded-card px-0 shadow" style="width: 18rem;">
            <%= image_tag("#{game.url}", height:"286px") %>
            <div class="card-body">
              <h5 class="card-title"><%= game.title %></h5>
              <p class="card-text">Price: <%= number_to_currency(game.price) %></p>
            </div>
              <p class="text-center">
                <%= link_to "Show", videogame_path(game) %> |
                <%= link_to "Edit", edit_videogame_path(game) %> |
                <%= link_to "Delete", videogame_path(game), method: :delete, data: {confirm: "Are you sure?"} %>
              </p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
